@*@model BackOffice.Models.General.FileUploadModel*@

<div id="FileUploadForm">
    <input type="file" name="GenericLoadFile" class="GenericLoadFile" value="" data-fieldid="@ViewData["input"]" />
</div>