<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="POL_ThirdKnowledgeConnection" connectionString="Data Source=mysqlproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=007_ThirdKnowledge;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="LogConnection" connectionString="Data Source=mysqlproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=003_LogModule;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_CompanyConnection" connectionString="Data Source=mysqlproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_CompanyProviderConnection" connectionString="Data Source=mysqlproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
  <add name="MS_ClientConnection" connectionString="Data Source=mysqlproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=002_MessageModule;User Id=ProveedoresUser;Password=gerEdit!.$"/>
  </connectionStrings>
  <appSettings>

    <add key="LogFile" value="Log\" />

    <add key="LogTimer" value="3000" />

    <add key="SettingsConfig" value="D:\Repositories\ProveedoresOnLine\ProveedoresOnLine.Notification\ProveedoresOnLine.Notification.Test\Rsx-SettingsConfig.xml" />
  </appSettings>
</configuration>