@*MANUALES*@

    <div class="POMPFooterLogos">
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logos_footer2.png" />
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logoPublicarBN.png" />
    </div>
    <div class="POMPFooterLegal">
        <span>©2015 Publicar SAS. Todos los derechos reservados</span>
        <a href="http://www.publicar.com/manejo-datos" target="_blank">Términos y condiciones</a>
        @*<a href="http://www.publicar.com/manejo-datos" target="_blank"> política de tratamiento de datos</a>*@
    </div>
