@*MANUALES*@

<div class="POMPFooterLogos">
    <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logos_footer2.png" />
    <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logoPublicarBN.png" />
</div>
<div class="POMPFooterLegal">
    <span>©2015 Proveedores OnLine SAS. Todos los derechos reservados</span>
    <a href="https://www.proveedoresonline.co/Marketplace/home/TermsAndConditions" target="_blank">Términos y condiciones</a>
    @*<a href="https://www.proveedoresonline.co/Marketplace/home/TermsAndConditions" target="_blank"> política de tratamiento de datos</a>*@
</div>
