@{
    var cant = MarketPlace.Models.General.SessionModel.NewNotifications == false ? 0 : MarketPlace.Models.General.SessionModel.ListNotifications.Where(x => x.State == 2013002).ToList().Count;
}

<div id="Notification">
    <ul class="navbar navbar-right POMPNavbar">

        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="true">
                <i class="fa fa-bell"></i>
                @if (cant > 0)
                {
                    <span class="label label-warning">@cant</span>
                }
            </a>
            <ul class="dropdown-menu dropdown-alerts pre-scrollable" style="max-width: 350px;  min-width : 280px;">
                @if (MarketPlace.Models.General.SessionModel.NewNotifications)
                {
                    if (MarketPlace.Models.General.SessionModel.ListNotifications != null)
                    {
                        foreach (var Notification in MarketPlace.Models.General.SessionModel.ListNotifications.OrderByDescending(x => x.CreateDate))
                        {
                            var companyInfo = ProveedoresOnLine.Company.Controller.Company.CompanyGetBasicInfo(Notification.CompanyPublicId);

                            var NotificatioBody = Notification.ListNotificationInfo.SingleOrDefault(x => x.NotificationInfoType == 2008007) != null
                                                    ? Notification.ListNotificationInfo.SingleOrDefault(x => x.NotificationInfoType == 2008007).LargeValue
                                                    : "";

                            if (!string.IsNullOrEmpty(NotificatioBody))
                            {
                                if (NotificatioBody.Length > 40)
                                {
                                    NotificatioBody = NotificatioBody.Substring(0, 40) + "...";
                                }
                            }

                            var logo = Notification.NotificationType == 2009001 // GeneralInfo
                                            ? MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_NotificationIconGeneralInfo].Value.Trim()
                                            : Notification.NotificationType == 2009002 //AdditionalInfo
                                            ? MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_NotificationIconAdditionalInfo].Value.Trim()
                                            : Notification.NotificationType == 2009003 //HSEQ
                                            ? MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_NotificationIconHSEQ].Value.Trim()
                                            : "";

                            if (companyInfo != null)
                            {
                                logo = companyInfo.CompanyInfo.Where(y => y.ItemInfoType.ItemId == 203005).Select(y => y.Value).FirstOrDefault() != null
                                   ? companyInfo.CompanyInfo.Where(y => y.ItemInfoType.ItemId == 203005).Select(y => y.Value).FirstOrDefault()
                                  : logo;
                            }

                            var UrlRedirection = Notification.NotificationType == 2009001 // GeneralInfo
                                ? MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_NotificationGeneralInfo_Mk].Value.Trim() + Notification.CompanyPublicId
                                : Notification.NotificationType == 2009002 //AdditionalInfo
                                ? MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_NotificationAdditionalInfo_MK].Value.Trim() + Notification.CompanyPublicId
                                : Notification.NotificationType == 2009003 //HSEQ
                                ? MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_NotificationHSEQ_MK].Value.Trim() + Notification.CompanyPublicId
                                : "#";

                            var classLeido = Notification.State == 2013002 ? "background : #EFF5F5;" : "";

                            <li style=" @classLeido border-bottom: solid 1px #dddddd; padding-bottom: 14px; padding-top: 4px;">
                                @Html.Raw(
                                         Ajax.ActionLink(
                                                     "[replacetext]",
                                                     "ChangeStatusNotification",
                                                     "Home",
                                                     new
                                                     {
                                                         idNotification = Notification.NotificationId
                                                     },
                                                     new AjaxOptions
                                                     {
                                                         UpdateTargetId = "Notification",
                                                         InsertionMode = InsertionMode.Replace,
                                                         HttpMethod = "POST",
                                                         OnBegin = "window.open('" + @UrlRedirection + "', '_blank')"
                                                     },
                                                     null)
                                         .ToHtmlString()
                                         .Replace("[replacetext]", "<img class=\"img img-circle\" style=\" width: 35px; height: 35px; margin-right: 10px;\" src=\"" + @logo + "\" />" + Notification.Label + "<br><em class=\"small\" style=\"padding-left: 30px; \">" + @NotificatioBody + "</em><span class=\"pull-right text-muted small\">" + Notification.CreateDate.ToShortDateString() + Notification.CreateDate.ToLongTimeString() + "</span>"))

                            </li>

                        }
                    }

                    <li>
                        <div class="text-center link-block">
                            <a href="@Url.Action("Notifications","Home")">
                                <strong>Ver Todas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                }
                else
                {
                    <li>
                        <a>
                            <div>
                                NO TIENE NINGUNA NOTIFICACIÓN
                            </div>
                        </a>
                    </li>
                }

            </ul>
        </li>
    </ul>
</div>
@Scripts.Render("~/Areas/Desktop/Scripts/jquery.unobtrusive-ajax.min.js")
