    <!--Project actions-->
<span class="POMPComparisonTitle">Evaluación de desempeño</span>

<div>
    <form id="frmProviderSurveyList" method="post" action="@(Url.Action
                                                            (MVC.Survey.ActionNames.SurveySearchProgram,
                                                            MVC.Survey.Name))">
        <ul id="Search_Survey_Item_Template"></ul>

        <div class="POMPComparisonActionWrapper">
            <div id="SurveyProgramButtom" class="SurveyProgramButtom" style="display: none;">
                <button class="SurveySearchButtoms" type="submit">Crear evaluación</button>
            </div>
        </div>
        <div style="display:none">
            <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
        </div>
    </form>
</div>

<!--templates-->
<div style="display:none;">
    <div id="POMPProviderSurvey">
        <!--Comparison item template-->
        <div class="POMPComparisonResultStatusCertified">
            <!--Check certificacion-->
            <img style="display:{ProviderIsCertified}" class="SelGenericTooltip" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
        </div>
        <div class="POMPComparisonResultProvDataWrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Survey.Name,
                                action = MVC.Survey.ActionNames.SVSurveySearch,
                            }) + "?ProviderPublicId={ProviderPublicId}")">
                            <img class="POMPComparisonResultProvLogo" src="{ProviderLogoUrl}" />
                        </a>
                    </div>
                    <div class="col-md-4">

                        <div class="POMPComparisonResultNameIDWrapper">
                            <label>{CompanyName}</label>
                            <label><span>{IdentificationType} :</span> {IdentificationNumber}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="POMPComparisonResultAlertComparWrapper">
                            <a href="javascript:Survey_SearchObject.RemoveSurveyProvider('{ProviderPublicId}');">
                                <div class="SelGenericTooltip POMPComparisonResultIncludeCoparisonIcon" title="Quitar proveedor"></div>
                            </a>
                        </div>
                        <input id="ProviderPublicId" name="ProviderPublicId" type="hidden" value="{ProviderPublicId}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

