<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="POL_ThirdKnowledgeConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=007_ThirdKnowledge;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="LogConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=003_LogModule;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_IntegrationPlatformConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=008_IntegrationPlatform;User Id=ProveedoresUser;Password=gerEdit!.$" />
  </connectionStrings>
  <appSettings>

    <add key="LogFile" value="Log\" />

    <add key="LogTimer" value="3000" />

    <add key="SettingsConfig" value="D:\Repositories\ProveedoresOnLine\Register_Core\Register_Core.Test\Rsx-SettingsConfig.xml" />
  </appSettings>
</configuration>